body{

margin:0;
font-family:Noto Sans KR;
background:#f4ece2;

}

.app{

max-width:430px;
margin:auto;
padding:20px;

}

.header-card{

background:linear-gradient(#7b1e1e,#a93131);
color:white;
padding:30px;
border-radius:20px;

}

.menu button{

margin:5px;
padding:10px;
border:none;
background:#ddd;
border-radius:10px;

}

input{

width:100%;
padding:12px;
margin:8px 0;
border-radius:10px;
border:1px solid #ccc;

}

.hidden{

display:none;

}

.admin-go-btn{

background:none;
border:none;
font-size:18px;
color:#7b1e1e;
font-weight:bold;

}